#dots-container{
    text-align: center;padding:10px;margin-top:30px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: rgba(187, 187, 187, 0.021);
    border:2px rgb(92, 41, 187) solid;
    border-radius: 50%;
    display: inline-block;
    margin:10px;
  }

  .isActive{
    background-color: rgb(92, 41, 187);
    height: 25px;
    width: 25px;
  }
owl-carousel-o {
    align-content: center;
  }

  .owl-carousel-o .active{
      color:red
  }
  ::ng-deep .owl-item {
    text-align: center;
  }
#title-wrapper{
    text-align: center;
    padding-top:70px;
}
.selected-package-container{
    height: 700px;
    background-color: white;
    width: 100%;
    border-radius: 60px;

}


.package-container{
    height: 500px;
    background-color: white;
    width: 100%;
    border-radius: 60px;
    margin:0 auto;


}
@media only screen and (min-width: 768px) {
    
        #title{
            font-size: 70px;
            font-weight: 800;
            color:rgb(71, 69, 69);
        }

        .container-fluid{
            background-color: rgba(146, 100, 255, 0.226);height:1100px
        }
    }
    
    @media only screen and (max-width: 767px) {
        /* phones */
        #title{
            font-size: 55px;
            font-weight: 700;
            color:rgb(71, 69, 69);
            }
        #dots-container{
                display: none;
            }
            .container-fluid{
                background-color: rgba(146, 100, 255, 0.226);height:800px
            }

    }
    
    @media only screen and (max-width: 767px) and (orientation: portrait) {
        /* portrait phones */
        #dots-container{
        display: none;
        }
        .container-fluid{
            background-color: rgba(146, 100, 255, 0.226);height:700px
        }
    }
    