<div class='container-fluid'>

    <div class='container'>
        <div id='title-wrapper'>
            <p class='title'>Our Pricing</p>
        </div>

        <div id='packages-wrapper'>
            <div class='row'>
                <owl-carousel-o #owlCar class='col-12' [options]="customOptions">
                        <ng-template carouselSlide *ngFor='let package of packages' [id]="package.order">
                                <app-package [activeClass]='activeClass' [package]='package'></app-package>
                        </ng-template>  
                 </owl-carousel-o>
                 <div id='dots-container' class='col-12'>
                    <span [class.isActive]="activeClass === '0'"    (click)="sliderHandler(owlCar, '0')" class="dot"></span>
                    <span [class.isActive]="activeClass === '1'"    (click)="sliderHandler(owlCar, '1')" class="dot"></span>
                    <span [class.isActive]="activeClass === '2'"     (click)="sliderHandler(owlCar, '2')" class="dot"></span>
                </div>
                </div>
        </div>



    </div>


</div>
