<div id='header-wrapper'>


    <div class='container'>
    <div class='row justify-content-between' id='logo-nav-container'>

        <div class='logo-wrapper'>
            <img id='desktop-logo' src='assets/svg/logo.svg'>
            <img id='mobile-logo' src='assets/svg/logo white.svg'>
        </div>

        <div id='nav-wrapper' class='align-middle'>
            <nav>
                <a (click)="goToSection('home')"> HOME</a>
                <a (click)="goToSection('services')"> SERVICES</a>
                <a (click)="goToSection('prices')"> PRICES</a>
                <a (click)="goToSection('footer')">CONTACT</a>
            </nav>
            <span style='color:white' (click)='showOverlay()' id='burger-btn' class="material-icons">
                menu
            </span>
         </div>
   
    </div>

    <div class='slogan-img-container row justify-content-between' >

        <div  id='slogan-wrapper' class='col-lg-6 col-md-6 col-sm-12' >
            <p>SOCIAL MEDIA</p>
            <p>FOR BUSINESS!</p>
            <p>PERFORMANCE BASED SOCIAL MEDIA AGENCE</p>
            <p>WE ARE LOREM MEDIA</p>
            <button >GET A FREE AUDIT</button> 
            <!-- id='audit-button' -->
        </div>

        <div id='img-wrapper' class='col-lg-6 col-md-6 col-sm-12'>
            <img src='assets/svg/Group 1423.svg' style='max-width:100%;' />
        </div>


    </div>

</div>
</div>

