


@media only screen and (min-width: 768px) {
    .title-description-wrapper{
        padding:35px
    }
.selected-package{
    height: 500px !important;
}

.selected-package button{
    background-image: linear-gradient(to right, rgb(47, 0, 255),rgb(70, 34, 233)) !important;
    color: white !important;
    border:1px white solid !important

}
    .package-container{
        height: 450px;
        background-color: white;
        cursor: pointer;
        box-shadow: 2px 5px 20px rgba(105, 44, 218, 0.315);
        border-radius: 13px;
        margin-bottom: 60px;
        padding:40px
    }

    .package-container button{
        background-image: linear-gradient(to right, rgb(255, 255, 255),rgb(255, 255, 255));
        color:rgb(2, 19, 255);
        border:2px rgb(2, 19, 255) solid
    }
    #price{
        font-size: 35px;
        color: blue;;
        font-weight: 600;
        text-align: center;
    }
    
    
    #title{
        color:rgb(71, 69, 69);
        font-weight: 700;
        font-size: 33px;
        padding:15px
    }
    
    #description{
        color:rgb(71, 69, 69);
        padding:15px;
        font-size: 25px;
    }
    
    p{
        margin:0;padding:0
    }
    
   
    #btn-wrapper{
        text-align: center;
        width: 100%;
        padding: 15px;
    }}

@media only screen and (max-width: 767px) {
    /* phones */
    .title-description-wrapper{
        padding:25px;
    }
    .package-container{
        height: 500px;
        background-color: white;
        cursor: pointer;
        box-shadow: 2px 5px 20px rgba(105, 44, 218, 0.315);
        border-radius: 13px;
        margin-bottom: 60px;
        padding:40px
    }
    #price{
        font-size: 35px;
        color: blue;;
        font-weight: 600;
        text-align: center;
    }
    
    
    #title{
        color:rgb(71, 69, 69);
        font-weight: 700;
        font-size: 33px;
        padding:15px
    }
    
    #description{
        color:rgb(71, 69, 69);
        padding:15px;
        font-size: 25px;
    }
    
    p{
        margin:0;padding:0
    }
    
   
    #btn-wrapper{
        text-align: center;
        width: 100%;
        padding: 15px;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .title-description-wrapper{
        padding:25px;
    }
    .package-container{
        height: 400px;
        background-color: white;
        cursor: pointer;
        box-shadow: 2px 5px 20px rgba(105, 44, 218, 0.315);
        border-radius: 13px;
        margin-bottom: 60px;
        padding:40px
    }
    #price{
        font-size: 25px;
        color: blue;;
        font-weight: 600;
        text-align: center;
    }
    
    
    
    p{
        margin:0;padding:0
    }
    
   
    #btn-wrapper{
        text-align: center;
        width: 100%;
        padding: 15px;
    }}