
<div class='container package-container' (click)='selectedPackage()'>
    <div class='title-description-wrapper'>
        <p id='title'> {{package}}</p>
        <p id='description'>
             Perfect for growing your brand's social community and engage the with 
             the right audience. We manage everything from curation of content to management of    
        </p>
    </div>
    
    <div id='btn-wrapper'>
        <button id='seemore-button'>SEE DETAILS</button> 
    
    </div></div>
