
<div class='container package-container' (click)='selectedPackage()'>
    <div class='title-description-wrapper'>
        <p  class='card-title'> {{package}}</p>
        <p  class='card-description'>
             Perfect for growing your brand's social community and engage the with 
             the right audience. We manage everything from curation of content to management of    
        </p>
    </div>
    <p id='price'> 140$ </p>
    
    <div id='btn-wrapper'>
        <button>SEE DETAILS</button> 
    
    </div></div>
