    
    <div class='container-fluid'>


        <div class='container'>
        <div class='row'>
            <div class='col-lg-3 col-md-6 col-sm-6 col-12'>
                
            <p id='logo'>logo.</p>
            <p id='stay-in-touch'>Stay in touch</p>
            

            </div>
            <div class='col-lg-3 col-md-6 col-sm-6 col-6'>
                <p class='items-head'>Quick Links</p>
                 <p class='item'>About</p> 
                 <p class='item'>Home</p>   
                 <p class='item'>Pricing</p>   
                 <p class='item'>Location</p>   
                 <p class='item'>Office</p>   
            </div>
            <div class='col-lg-3 col-md-6 col-sm-6 col-6' id='hours-section'>
                <p class='items-head'>Hours</p>
                <p class='item'>Monday : 9:00 - 18:00</p> 
                <p class='item'>Monday : 9:00 - 18:00</p> 
                <p class='item'>Monday : 9:00 - 18:00</p> 
                <p class='item'>Monday : 9:00 - 18:00</p> 
                <p class='item'>Monday : 9:00 - 18:00</p> 
            </div>
            <div class='col-lg-3 col-md-6 col-sm-6 col-6'>
                <p class='items-head'>Contact</p>

                <div>
                    <span class="material-icons" style='color:white'>
                        call
                    </span>
                    <span class='item'>01066219698</span> 


                </div>

                <div>
                    <span class="material-icons" style='color: white;'>
                        email
                    </span>
                    <span class='item'>mms@gm.com</span> 
                   
                </div>
                <div>
                    <span class="material-icons" style='color:white'>
                        location_on
                    </span>
                    <span class='item'>Harram st</span> 
                </div>  
                 
               
            </div>
        </div>
    </div>

    </div>

