<div @myInsertRemoveTrigger class="wrapper">
    <div class='container'>

        <div class='col-12 nav-item' (click)='closeOverlay()'>
            <p style='color:rgb(255, 0, 0)'>CLOSE</p>
        </div>
        <div class='col-12 nav-item' (click)='goToSection("home")'>
            <p>HOME</p>
        </div>
        <div class='col-12 nav-item' (click)='goToSection("services")'>
            <p>SERVICES</p>
        </div>
        <div class='col-12 nav-item' (click)='goToSection("prices")'>
            <p>PRICES</p>
        </div>
        <div class='col-12 nav-item'>
            <p>CONTACT</p>
        </div>

    </div>
</div>