/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import '~material-design-icons/iconfont/material-icons.css';


/* @import '~ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css';
@import '~ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css';

@import "../node_modules/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css"; */


html,body{
    height: 100%;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    .container {
        max-width: 2000px;
    }
    button{
        background-image: linear-gradient(to right, rgb(47, 0, 255),rgb(70, 34, 233));
        color: white;
        padding: 20px 35px 20px 35px;
        border: 0;
        border-radius: 50px;
        margin-top:20px;
        font-size: 30px;
    }

    .title{
        font-size: 90px;
        font-weight: 700;
        color:rgb(71, 69, 69);
        }

    .description{
            font-size: 40px;
            margin-top:10px;
            color:rgb(71, 69, 69);
       }

  .card-title{
      text-align: center;
      color:rgb(71, 69, 69);
      font-weight: 600;
      font-size: 30px;

  }
  .card-description{
    font-size: 25px;
    margin-top:10px;
    color:rgb(71, 69, 69);
    text-align: center;

  }
}

@media only screen and (max-width: 767px) {
    /* phones */
    button{
        background-image: linear-gradient(to right, rgb(47, 0, 255),rgb(70, 34, 233));
        color: white;
        padding: 10px 25px 10px 25px;
        border: 0;
        border-radius: 20px;
        margin-top:10px
}

button{
    background-image: linear-gradient(to right, rgb(47, 0, 255),rgb(70, 34, 233));
    color: white;
    padding: 10px 40px 10px 40px;
    border: 0;
    border-radius: 20px;
    margin-top:10px;
    font-size: 10px;
    font-weight: bold;
    }

.title{
        font-size: 35px;
        font-weight: 700;
        color:rgb(71, 69, 69);
        }

.description{
            font-size: 15px;
            margin-top:10px;
            color:rgb(71, 69, 69);
       }

  .card-title{
      text-align: center;
      color:rgb(71, 69, 69);
      font-weight: 600;
      font-size: 20px;

  }
  .card-description{
    font-size: 15px;
    margin-top:10px;
    color:rgb(71, 69, 69);
    text-align: center;

  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */

    button{
        background-image: linear-gradient(to right, rgb(47, 0, 255),rgb(70, 34, 233));
        color: white;
        padding: 10px 40px 10px 40px;
        border: 0;
        border-radius: 20px;
        margin-top:10px;
        font-size: 10px;
        font-weight: bold;
        }

    .title{
            font-size: 35px;
            font-weight: 700;
            color:rgb(71, 69, 69);
            }
    
    .description{
                font-size: 15px;
                margin-top:10px;
                color:rgb(71, 69, 69);
           }

      .card-title{
          text-align: center;
          color:rgb(71, 69, 69);
          font-weight: 600;
          font-size: 18px;

      }
      .card-description{
        font-size: 15px;
        margin-top:10px;
        color:rgb(71, 69, 69);
        text-align: center;
      }     



}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
