
@media only screen and (min-width: 768px) {
.main-container{
    background-image: url('/assets/svg/Group182.svg');
    background-repeat: repeat;
    

}
    /* #title{
        font-size: 70px;
        font-weight: 800;
        color:rgb(71, 69, 69);
    } */
}

@media only screen and (max-width: 767px) {
    /* phones */
    /* #title{
        font-size: 55px;
        font-weight: 700;
        color:rgb(71, 69, 69);
        } */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}
