.service-container{
    box-shadow: 2px 5px 20px rgba(105, 44, 218, 0.315);
    border-radius: 13px;
    margin-bottom: 60px;
    padding:40px;
    background-color: white;
}
#icon-wrapper{
    text-align: center;
    padding-top:30px
}

#title{
    color:rgb(71, 69, 69);
    font-weight: 700;
    font-size: 33px;
    padding:15px
}

/* #description{
    color:rgb(71, 69, 69);
    padding:15px;
    font-size: 25px;
} */
p{
    margin:0;padding:0
}

#seemore-button{
    background-image: linear-gradient(to right, rgb(47, 0, 255),rgb(70, 34, 233));
    color: white;
    padding: 10px 25px 10px 25px;
    border: 0;
    border-radius: 20px;
    margin-top:10px;
    font-size: 25px;
}
#btn-wrapper{
    text-align: right;
    width: 90%;
    padding: 15px;
}